@import "vars";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

textarea {
  resize: none;
}

nav,
footer,
header,
aside {
  display: block;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1001;
  width: 100%;

  &.active-header {
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  }
}

body {
  font-weight: 300;
  color: $mainColor;
  margin: 0;
  background-color: $pageColor;
}

html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  color: $mainColor;
  font-size: $normalText;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: $pageColor;
  font-family: $fontFamilyLight;
  transition: all 0.2s linear;
}

#root,
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: $pageColor;
  transition: all 0.2s linear;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-transform: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.title {
  font-weight: 700;
  font-size: $titleText;
  line-height: 58px;
  letter-spacing: 1px;
  font-family: $fontFamilyBold;
}

.subtitle {
  font-weight: 700;
  font-size: $subtitleText;
  line-height: 29px;
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $fontFamilyMedium;
}

.anotherColor {
  color: $anotherColor;
}

hr {
  margin: 10px 0;
  width: 100%;
  height: 1px;
  background-color: $anotherColor;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

[class*="__container"] {
  max-width: $maxWidthContainer;
  box-sizing: content-box;
  margin: 0 auto;

  @media (max-width: $md1) {
    max-width: 970px;
  }

  @media (max-width: $md2) {
    max-width: 750px;
  }

  @media (max-width: $md3) {
    max-width: none;
    padding: 0 20px;
  }
}

.page {
  flex: 1 1 auto;
}

.hide {
  display: none !important;
}

::-webkit-scrollbar {
  width: 0;
}

@media (max-width: $md3) {
  .title {
    line-height: 30px;
  }

  .subtitle {
    line-height: 20px;
  }
}