@import "vars";

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;

  &__container {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__contacts {
    font-family: $fontFamilyLight;
    font-size: $littleText;
    margin-left: 30px;
    transition: all 0.2s linear;

    span {
      cursor: pointer;

      &:hover {
        color: $anotherColor;
      }
    }
  }

  &__mainLink {
    font-family: $fontFamilyMedium;
    font-size: $normalText;
    transition: all 0.2s linear;

    &:hover {
      color: $anotherColor;
    }
  }

  &__nav {
    &Inner {
      &__link {
        font-family: $fontFamilyMedium;
        font-size: $smallText;
        margin-left: 50px;
        position: relative;
        color: $mainColor;
        transition: all 0.2s linear;

        &::before {
          content: "";
          position: absolute;
          background-color: $anotherColor;
          bottom: -10px;
          width: 0px;
          height: 2px;
          transition: all 0.2s linear;
          left: 50%;
        }

        &:hover {
          &::before {
            transition: all 0.2s linear;
            width: 100%;
            left: 0;
          }
        }

        &_active {
          color: $anotherColor;
        }
      }

      &__button {
        margin-left: 40px;
        color: $mainColor;
        transition: all 0.2s linear;
        padding: 10px;
        border-radius: 20px;
        font-family: $fontFamilyMedium;
        font-size: $smallText;

        &Mobile {
          display: none;
        }

        &:hover {
          box-shadow: 0px 0px 20px 3px $anotherColor;
        }
      }
    }
  }

  &__mobileMenu {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: $md3) {
  .header {
    &__nav {
      &Inner {
        &__link {
          margin-left: 25px;
        }

        &__button {
          margin-left: 25px;
        }
      }
    }
  }
}

@media (max-width: $md4) {
  .header {
    &__nav {
      &Inner {
        &__link {
          margin-left: 10px;
        }

        &__button {
          margin-left: 10px;
        }
      }
    }
  }
}

@media (max-width: $md5) {
  .header {
    &__nav {
      &Inner {
        &__link {
          display: none;
        }

        &__button {
          padding: 10px;

          &Mobile {
            margin-left: 20px;
            display: inline-block;
            vertical-align: middle;
            width: 20px;
            height: 2px;
            background-color: $mainColor;
            position: relative;

            &::before{
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: $mainColor;
              left: 0;
              top: -5px;
            }

            &::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: $mainColor;
              left: 0;
              bottom: -5px;
            }
          }
        }
      }
    }

    &__mobileMenu {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vh;
      height: 100vh;
      overflow: hidden;
      transition: all 0.2s linear;


      &__active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
      }

      &__bg {
        background-color: $pageColor;
        opacity: 0.8;
        width: 100%;
        height: 100%;
      }

      &__body {
        position: absolute;
        left: 60vw;
        top: 0;
        background-color: $mainColor;
        height: 100vh;
        width: 40vw;
        z-index: 2;
      }

      &__nav {
        &Inner {
          display: flex;
          flex-direction: column;

          &__link {
            font-size: $subtitleText;
            color: $pageColor;
            font-family: $fontFamilyMedium;
            border-bottom: 1px solid $anotherColor;
            padding: 20px;

            &_active {
              color: $anotherColor;
            }
          }
        }
      }
    }
  }
}