@import "vars";

.mainPage {
  height: calc(100vh + 80px);
  transition: all 0.5s ease;

  &__slide {
    width: 100%;
    height: calc(100vh + 80px);
  }

  &__first {
    position: relative;
    padding: 80px 0;
    border-bottom: 1px solid $anotherColor;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom,
          rgba(255, 255, 255, 0) 250px,
          rgba(149, 114, 80, 0.3) 254px,
          rgba(255, 255, 255, 0) 255px),
        linear-gradient(to left,
          $rgb_anotherColoOpacity 1px,
          rgba(255, 255, 255, 0) 2px);
      background-size: 100% 265px, 265px 100%, 100%;
      background-position: center, center, center;
      transition: all 0.2s linear;

      z-index: 2;
    }

    &__body {
      display: flex;
      height: 100%;
      padding: 100px 0;
      flex-direction: column;
      justify-content: flex-end;
      width: 75%;
    }
  }

  &__container {
    height: 100%;
  }

  // Second SLide
  &__about {
    position: relative;
    padding: 80px 0;
    background: linear-gradient(180deg,
        $anotherColor 0%,
        $pageColor 5%,
        $pageColor 100%);
    transition: all 0.2s linear;

    &::before {
      content: "";
      position: absolute;
      top: -50%;
      left: -50%;
      width: 100%;
      height: 100%;
      border: 1px solid $anotherColor;
      opacity: 0.2;
      border-radius: 25%;
      transition: all 0.5s ease;
    }

    &:hover {
      &::before {
        border-color: $mainColor;
        background-color: $pageColor/2;
      }
    }

    &__images {
      position: absolute;
      top: 20%;
      left: 20%;
      z-index: 2;

      @keyframes myOrbit {
        from {
          transform: rotate(0deg) translateX(20px) rotate(0deg);
        }

        to {
          transform: rotate(360deg) translateX(20px) rotate(-360deg);
        }
      }

      &__block {
        position: relative;
        width: 170px;
        height: 170px;
      }

      &__item {
        position: absolute;
        animation: myOrbit 15s linear infinite;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $anotherColor;
        width: 64px;
        height: 64px;
        transition: all 0.5s ease;

        &:hover {
          border-color: $mainColor;
          width: 65px;
          height: 65px;

          img {
            filter: grayscale(0);
          }
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: transparent;
          background-repeat: no-repeat;
          background-size: 100%;
          filter: grayscale(1);
        }
      }
    }

    &__body {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
    }

    &__in {
      font-size: $smallText;
      color: $anotherColor;
      position: relative;
      font-style: italic;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $anotherColoOpacity;
        right: -100%;
        top: 50%;
        transform: translate(10px, -50%);
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__list {
      margin-top: 10px;

      li {
        margin-left: 10px;
        display: flex;

        &::before {
          content: "-";
          display: inline-block;
          margin-right: 10px;
          color: $anotherColor;
        }

        p {
          display: inline-block;
          font-size: $smallText;
        }
      }
    }

    &__text {
      line-height: 150%;
      font-size: $normalText;
    }
  }

  // Third SLide
  &__works {
    position: relative;
    padding: 80px 0;
    background: linear-gradient(180deg,
        $anotherColor 0%,
        $pageColor 5%,
        $pageColor 100%);

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: radial-gradient($anotherColor 2%, transparent 0),
        radial-gradient($anotherColor 2%, transparent 0);
      background-size: 73px 73px;
      background-position: 0 0, 35px 35px;
    }

    &__container {
      height: 100%;
    }

    &__body {
      position: relative;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 50%;
      padding-top: 80px;
    }

    &__top {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }

    &__bottom {
      width: calc(100% + 100px);
    }

    &__in {
      font-size: $smallText;
      color: $anotherColor;
      position: relative;
      font-style: italic;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $anotherColoOpacity;
        right: -100%;
        top: 50%;
        transform: translate(10px, -50%);
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      line-height: 150%;
      font-size: $normalText;

      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background-color: $anotherColor;
          bottom: -5px;
          width: 0px;
          height: 1px;
          transition: all 0.2s linear;
          left: 50%;
        }

        &:hover {
          &::before {
            transition: all 0.2s linear;
            width: 100%;
            left: 0;
          }
        }
      }
    }

    &__slider {
      overflow: hidden;

      &List {
        width: 100%;
        display: flex;
        height: 300px;
        transition: all 0.2s linear;
      }

      &Item {
        width: 100%;
        height: 100%;
        flex: 0 0 100%;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          filter: grayscale(1);
          mask-image: linear-gradient(90deg,
              rgba(31, 29, 29, 0) 0%,
              rgba(31, 29, 29, 1) 20%,
              rgba(31, 29, 29, 1) 80%,
              rgba(31, 29, 29, 0) 100%);
          transition: all 0.2s linear;
          opacity: 0.7;
          object-position: center;

          &:hover {
            filter: grayscale(0);
            mask-image: unset;
            opacity: 1;
          }
        }
      }
    }
  }

  // Thour SLide
  &__resume {
    position: relative;
    padding: 80px 0;
    background: linear-gradient(180deg,
        $anotherColor 0%,
        $pageColor 5%,
        $pageColor 100%);
    transition: all 0.2s linear;

    &__container {
      height: 100%;
      position: relative;
    }

    &__body {
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      z-index: 2;
    }

    &__bg {
      position: absolute;
      z-index: 1;
      top: 0;
      left: calc((-100vw + 100%) / 2);
      width: 100vw;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        display: flex;
        padding: 25px;

        &:hover {
          span {
            opacity: 1;

            &::before {
              opacity: 1;
            }
          }
        }

        span {
          background-color: $anotherColor;
          width: 5px;
          height: 5px;
          border-radius: 100%;
          opacity: 0.3;
          transition: all 0.2s linear;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: calc(100% + 20px);
            height: calc(100% + 20px);
            border: 1px solid $anotherColor;
            top: calc(-50% - 10px);
            left: calc(-50% - 10px);
            transform: translate(calc(50% - 10px), calc(50% - 10px));
            border-radius: 100%;
            opacity: 0;
          }
        }
      }
    }

    &__in {
      font-size: $smallText;
      color: $anotherColor;
      position: relative;
      font-style: italic;
      margin-bottom: 20px;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $anotherColoOpacity;
        transition: all 0.2s linear;

        right: -100%;
        top: 50%;
        transform: translate(10px, -50%);
      }
    }

    &__title {
      margin-bottom: 20px;
    }

    &__text {
      line-height: 150%;
      font-size: $normalText;

      a {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          background-color: $anotherColor;
          transition: all 0.2s linear;

          bottom: -5px;
          width: 0px;
          height: 1px;
          transition: all 0.2s linear;
          left: 50%;
        }

        &:hover {
          &::before {
            transition: all 0.2s linear;
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }
}

@media (max-width: $md1) {
  .mainPage {
    &__first {
      &__body {
        width: 70%;
        padding: 50% 0;
      }
    }

    &__about {
      &__body {
        width: 80%;
        height: 90%;
      }

      &__images {
        top: 20%;
        left: 15%;

        &__block {
          width: 120px;
          height: 120px;
        }

        &__item {
          width: 40px;
          height: 40px;

          &:hover {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    &__works {
      &__body {
        width: 70%;
        justify-content: center;
      }

      &__top {
        margin-bottom: 20px;
      }
    }

    &__resume {
      &__body {
        width: 70%;
      }
    }
  }
}

@media (max-width: $md2) {
  .mainPage {
    &__first {}

    &__about {}

    &__works {}

    &__resume {}
  }
}

@media (max-width: $md3) {
  .mainPage {
    &__first {}

    &__about {}

    &__works {}

    &__resume {}
  }
}

@media (max-width: $md4) {
  .mainPage {
    &__first {}

    &__about {
      &::before {
        content: unset;
      }
    }

    &__works {}

    &__resume {}
  }
}

@media (max-width: $md5) {
  .mainPage {
    height: calc(100vh);
    &__slide {
      width: 100%;
      height: calc(100vh);
    }
    &__first {
      padding: 0px 0;
    }

    &__about {
      padding: 0px 0;
    }

    &__works {
      padding: 0px 0;

      &__bottom {
        width: calc(100vw - ((100vw - 100%) / 2));
      }

      &__slider {
        &List {
          height: unset;
        }
      }
    }

    &__resume {
      padding: 0px 0;
    }
  }
}

@media (max-width: $md6) {
  .mainPage {
    &__about {
      &__images {
        display: none;
      }
    }
  }
}