@import "vars";

.pageCount{
  position: fixed;
  right: 25px;
  top: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  &__numbers{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50px;

    &Item{
      font-size: $normalText;
      font-family: $fontFamilyMedium;
      margin-bottom: 50px;
      transition: all .7s ease;

      &__active{
        color: $anotherColor;
        font-size: $titleText;
      }
    }
  }
}