:root {
  --pageColor_black: #1F1D1D;
  --mainColor_black: #FFFFFF;
  --anotherColor_black: #e4b689;
  --anotherColoOpacity_black: #ddbd9c;
  --rgb_anotherColoOpacity_black: rgb(221, 189, 156, 0.4);

  --pageColor_white: #ffffff;
  --mainColor_white: #1F1D1D;
  --anotherColor_white: #ff942a;
  --anotherColoOpacity_white: #ffa246;
  --rgb_anotherColoOpacity_white: rgb(255, 162, 70, 0.4);


  --pageColor: var(--pageColor_black);
  --mainColor: var(--mainColor_black);
  --anotherColor: var(--anotherColor_black);
  --anotherColoOpacity: var(--anotherColoOpacity_black);
  --rgb_anotherColoOpacity: var(--rgb_anotherColoOpacity_black);
}