@import "mixin";

$minWidth: 320px; // мин размер
$maxWidth: 1920; // полотно
$maxWidthContainer: 1400px; // огранич контейнер
$md1: $maxWidthContainer + 12px; // брейкпоинты для адаптива. сработает когда есть зазор
$md2: 1024px;
$md3: 800px;
$md4: 629px;
$md5: 480px;
$md6: 375px;

$fontFamilyLight: "Geometria-Light";
$fontFamilyMedium: "Geometria-Medium";
$fontFamilyBold: "Geometria-Bold";

:root {
  --normalText: 18px;
  --smallText: 16px;
  --littleText: 12px;
  --titleText: 52px;
  --subtitleText: 20px;
}

$normalText: var(--normalText);
$smallText: var(--smallText);
$littleText: var(--littleText);
$titleText: var(--titleText);
$subtitleText: var(--subtitleText);

$pageColor: var(--pageColor);
$mainColor: var(--mainColor);
$anotherColor: var(--anotherColor);
$anotherColoOpacity: var(--anotherColoOpacity);
$rgb_anotherColoOpacity: var(--rgb_anotherColoOpacity);

@media (max-width: $md1) {
  //1432
}

@media (max-width: $md2) {
  //1024
  :root {
    --titleText: 40px;
  }
}

@media (max-width: $md3) {
  //800
  :root {
    --titleText: 30px;
    --normalText: 16px;
    --subtitleText: 18px;
    --smallText: 14px;
  }
}

@media (max-width: $md4) {
  //629
}

@media (max-width: $md5) {
  //480
  :root {
    --titleText: 24px;
    --normalText: 14px;
    --subtitleText: 16px;
    --smallText: 12px;
    --littleText: 10px;
  }
}

@media (max-width: $md6) {
}

@font-face {
  font-family: "Geometria-Light";
  src: url("../fonts/geometria_light.otf");
  font-weight: slighter;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Medium";
  src: url("../fonts/geometria_medium.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Geometria-Bold";
  src: url("../fonts/geometria_bold.otf");
  font-weight: bold;
  font-style: normal;
}
